<div class="card-row">
    <div class="card">
        <h2>Inżynierski Projekt Zespołowy 2</h2>
        <p><b>Prowadzący:</b> <a href="#janko"> Jan Kowalski </a>
            <cds-icon shape="user"></cds-icon>
        </p>

        <p> <b>Opis kursu:</b> Cras urna mi, auctor at pulvinar ac, lobortis in leo. Integer hendrerit, odio eget luctus
            consectetur, risus
            massa auctor neque, at sodales elit neque quis diam. Vivamus malesuada ullamcorper erat. Mauris facilisis
            lacus at sapien commodo fringilla. Etiam ac magna a orci tincidunt tincidunt. Sed pharetra egestas laoreet.
            Nunc eu nisi eget nulla sodales suscipit. Pellentesque volutpat blandit feugiat. Maecenas ultrices blandit
            sem, at eleifend nisi vulputate quis. Morbi imperdiet ac urna eget finibus. Donec facilisis risus et luctus
            fermentum. Suspendisse et diam a sem faucibus ultricies. Praesent urna augue, congue a nisl a, ultrices
            egestas enim. Mauris placerat neque nec lacus faucibus, ac commodo nisi dapibus. In placerat elementum
            fringilla.</p>

        <p><b>Tagi: </b> <a href="#inf">#informatyka </a> <a href="#inz">#inżynieria </a> <a href="#proj">#projekt </a>
        </p>
    </div>
    <div class="card small">
        <h2>Twoja aktywność</h2>
        <cds-progress-circle status="info" [value]="64" class="progress-circle"></cds-progress-circle>
        <cds-button action="outline">Kontynuuj ostatnią lekcję</cds-button>
    </div>
</div>

<div class="card-row">
    <table class="table" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 15%;">
        </colgroup>
        <tbody>
            <tr>
                <th>Nr lekcji</th>
                <th>Temat</th>
                <th></th>
            </tr>
            <tr>
                <td>#0</td>
                <td> <a [routerLink]="['/course/lesson']">Wprowadzenie do projektu</a></td>
                <td>100% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <tr>
                <td>#1</td>
                <td> <a href="#wym">Wymagania funkcjonalne i niefunkcjonalne, model systemu</a></td>
                <td>100% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <tr>
                <td>#2</td>
                <td> <a href="#har">Harmonogram prac i diagram Gantta</a></td>
                <td>100% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <tr>
                <td>#3</td>
                <td> <a href="#analiza">Analiza ryzyka projektowego</a></td>
                <td>100% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <tr>
                <td>#4</td>
                <td> <a href="#scrum">Zwinne metodyki zarzadznia projektem</a></td>
                <td>22%
                </td>
            </tr>
            <tr>
                <td>#5</td>
                <td> <a href="#git">Systemy kontroli wersji i code review</a></td>
                <td>0%
                </td>
            </tr>
            <tr>
                <td>#6</td>
                <td> <a href="#tech">Techniki motywacji zespołu</a></td>
                <td>0%
                </td>
            </tr>
        </tbody>
    </table>
</div>