<div class="card-row">
    <div class="card">
        <h2>{{course.title}}</h2>
        
        <p><b>Prowadzący:</b> <a href="#janko"> {{course.tutor}} </a>
            <cds-icon shape="user"></cds-icon>
        </p>

        <div class="course-description"> 
            <div class="desc">
                <b>Opis kursu:</b> {{course.description}}
            </div>
            <div class="img">
                <img src="../../assets/{{course.image}}.png">
            </div>
        </div>

        <p><b>Tagi: </b> <a href="#inf"> {{course.tags}} </a>
        </p>
    </div>
    <div class="card small">
        <h2>Twoja aktywność</h2>
        <cds-progress-circle *ngIf="course.joined" status="info" [value]="50" class="progress-circle"></cds-progress-circle>
        <cds-button *ngIf="course.joined" action="outline" [routerLink]="['/course/0/lesson']">Kontynuuj ostatnią lekcję</cds-button>
        <cds-button *ngIf="!course.joined" action="solid" (click)="join()">Dołacz do kursu!</cds-button>
    </div>
</div>

<div class="card-row" *ngIf="course.joined">
    <table class="table" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 15%;">
        </colgroup>
        <tbody>
            <tr>
                <th>Nr lekcji</th>
                <th>Temat</th>
                <th></th>
            </tr>
            <tr>
                <td>#0</td>
                <td> <a [routerLink]="['/course/0/lesson']">Wprowadzenie do projektu</a></td>
                <td>50% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <!-- <tr>
                <td>#1</td>
                <td> <a href="#wym">Wymagania funkcjonalne i niefunkcjonalne, model systemu</a></td>
                <td>100% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <tr>
                <td>#2</td>
                <td> <a href="#har">Harmonogram prac i diagram Gantta</a></td>
                <td>100% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <tr>
                <td>#3</td>
                <td> <a href="#analiza">Analiza ryzyka projektowego</a></td>
                <td>100% <cds-icon shape="check"></cds-icon>
                </td>
            </tr>
            <tr>
                <td>#4</td>
                <td> <a href="#scrum">Zwinne metodyki zarzadznia projektem</a></td>
                <td>22%
                </td>
            </tr>
            <tr>
                <td>#5</td>
                <td> <a href="#git">Systemy kontroli wersji i code review</a></td>
                <td>0%
                </td>
            </tr>
            <tr>
                <td>#6</td>
                <td> <a href="#tech">Techniki motywacji zespołu</a></td>
                <td>0%
                </td>
            </tr> -->
        </tbody>
    </table>
</div>