.card-row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
}

.course-card {
    margin-right: 10px;
    text-align: center;
    img {
        width: 50%;
    }
}

.course-card:last-child {
    margin-right: 0;
}

.big-card {
    width: 32%
}

.small-card {
    width: 19%;
}

cds-search {
    width: 100%;
}

div[cds-layout~="horizontal"] {
    display: block !important;
}
