<cds-alert-group type="banner" status="info" aria-label="This is an example banner alert group with a status of info">
    <cds-alert closable>
        W Twoim kursie <b>Inżynierski projekt zespołowy 2</b> pojawiła sie nowa lekcja!
    </cds-alert>
</cds-alert-group>

<h1>Witaj, Test!</h1>
<h2>Moje kursy</h2>
<div class="card-row">
    <div *ngFor="let course of courses" class="card course-card big-card">
        <img src="../../assets/{{course.image}}.png">
        <h3>{{course.title}}</h3>
        <p><b>Prowadzący:</b> <a href="#janko"> {{course.tutor}} </a>
            <cds-icon shape="user"></cds-icon>
        </p>
        <p>{{course.description}}</p>
        <p><b>Tagi: </b> <a href="#inf">{{course.tags}}</a></p>
        <p><cds-button [routerLink]="['/course/', course.id]">Przejdź do kursu</cds-button><br>
    </div>
    <div class="card course-card big-card centered">
        <cds-button [routerLink]="['/create/course']">Utwórz nowy kurs <cds-icon shape="plus-circle"></cds-icon></cds-button>
    </div>
</div>
<!-- <h2>Najbliższe zadanie domowe</h2>
<div class="card-row">
    <div class="card card-assignment">
        <div class="img">
            <img src="../../assets/curriculum.png">
        </div>
        <div class="desc">
            <h2>Implementacja czatu w aplikacji</h2>
            Inżynierski projekt zespołowy 2, <span class="red">Termin ukończenia: wczoraj 23:59</span>
        </div>
        <div class="button">
            <cds-button action="outline" [routerLink]="['/course']">Przejdź do kursu</cds-button>
        </div>
    </div>
</div> -->
<p></p>