<h1>Test: Tworzenie SRS i harmonogramu prac</h1>
<p class="red">Pozostałe podejścia: 1</p>
<p>Do testu możesz podjeść jedynie 2 razy. Prowadzący kurs może zobaczyć Twoje odpowiedzi. Czas na zaznaczenie odpowiedzi to 10 sekund. Nie powinno być to problemem, w końcu nie chodziłeś na wykłady - to znaczy że masz materiał w małym palcu!</p>
<br><br>
<div id="surveyContainer"></div>
<div id="surveyResult"></div>

<div class="button">
    <cds-button action="outline" [routerLink]="['/course']">Wróć do kursu</cds-button>
</div>
