<div class="login-wrapper" *ngIf="!logged">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Najlepsza na świecie</h3>
      Platforma E-learning
      <h5 class="hint" *ngIf="logging_step == 'credentials'">Użyj swojego numeru identyfikacyjnego i hasła by się zalogować</h5>
      <h5 class="hint" *ngIf="logging_step == '2fa'">Zeskanuj poniższy kod QR w aplikacji do dwustopniowej autentykacji np. Google Authenticator, Okta</h5>
    </section>
    <div class="login-group" *ngIf="logging_step == 'credentials'">
      <clr-input-container>
        <label class="clr-sr-only">Identyfikator</label>
        <input type="text" name="username" clrInput placeholder="Identyfikator" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Hasło</label>
        <input type="password" name="password" clrPassword placeholder="Hasło" />
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Zapamiętaj mnie</label>
        <input type="checkbox" name="rememberMe" clrCheckbox />
      </clr-checkbox-wrapper>
      <!-- <div class="error active">
        Invalid user name or password
      </div> -->
      <button (click)="logging_step = '2fa'" class="btn btn-primary">ZALOGUJ</button>
    </div>
    <div class="2fa-group login-group" *ngIf="logging_step == '2fa'">
      <div class="qr-wrapper">
        <img src="../assets/qr.svg">
      </div>
      <clr-input-container>
        <label class="clr-sr-only">Kod weryfikacyjny</label>
        <input type="number" name="code" clrInput placeholder="Kod weryfikacyjny" />
      </clr-input-container>
      <button (click)="logged = true" class="btn btn-primary">ZWERYFIKUJ</button>
    </div>
  </form>
</div>

<div class="main-container" *ngIf="logged">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="event"></cds-icon>
        <span class="title">Platforma E-learningowa</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link nav-icon" [routerLink]="['/dashboard']" [ngClass]="{'active' : nav == 'dashboard'}"
          (click)="nav = 'dashboard'">
          <cds-icon shape="home"></cds-icon> Przegląd
        </a>
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox" />
          <label for="tabexample1">
            Moje kursy
          </label>
          <ul class="nav-list">
            <li><a class="nav-link" [routerLink]="['/course']" [ngClass]="{'active' : nav == 'course'}"
                (click)="nav = 'course'">Inżynierski projekt
                zespołowy 2</a></li>
            <li><a class="nav-link" [routerLink]="['/courses']" [ngClass]="{'active' : nav == 'courses'}"
              (click)="nav = 'courses'">
                <cds-icon shape="plus-circle"></cds-icon> Dodaj kurs
              </a></li>
          </ul>
        </section>
        <a class="nav-link nav-icon" [routerLink]="['/assignments']" [ngClass]="{'active' : nav == 'assignments'}"
        (click)="nav = 'assignments'">
          <cds-icon shape="home"></cds-icon> Zadania domowe
        </a>
        <a class="nav-link nav-icon" [routerLink]="['/chat']" [ngClass]="{'active' : nav == 'chat'}"
        (click)="nav = 'chat'">
          <cds-icon shape="envelope"></cds-icon> Wiadomości
        </a>
        <a class="nav-link">
          <cds-icon shape="user"></cds-icon> Moje konto
        </a>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>