<h1>Chat z: Michał Jucewicz <cds-icon shape="circle"></cds-icon></h1>
<div class="card-row">
    <div class="card">
        <div class="chat-container">
            <div class="date">20.01.2022</div>
            <div class="message"><span class="text-wrapper">Cras urna mi, auctor at pulvinar ac, lobortis in leo. Integer hendrerit, odio eget luctus consectetur, risus massa auctor neque, at sodales elit neque quis diam.</span></div>
            <div class="message my-message"><span class="text-wrapper">Vivamus malesuada ullamcorper erat. Mauris facilisis lacus at sapien commodo fringilla.</span></div>
            <div class="message my-message"><span class="text-wrapper">Etiam ac magna a orci tincidunt tincidunt.</span></div>
            <div class="date">21.01.2022</div>
            <div class="message my-message"><span class="text-wrapper">Witam ten projekt taki nieskończony kiedy będzie skończony?</span></div>
            <div class="message"><span class="text-wrapper">Witam chyba nigdy</span></div>
            <div class="date" *ngIf="messages.length >0">22.01.2022</div>
            <div class="message my-message" *ngFor="let message of messages"><span class="text-wrapper">{{message}}</span></div>
        </div>
        <div class="message-container">
            <div class="input-text">
                <input clrInput [(ngModel)]="mess" size="150">
            </div>
            <div class="send-wrapper">
                <cds-button (click)="send()">Wyślij</cds-button>
            </div>
        </div>
    </div>
</div>
